
*.tmp
Documents/Deliverable_1/~$wap_Deliverable_1_SRS_Template.doc
Documents/Deliverable_1/.~lock.CSwap_Deliverable_1_SRS_Template.doc#
Documents/Deliverable_1/~$CSwap_Deliverable_1_ProductBacklog_1.xlsx
Documents/Deliverable_1/~$wap_Deliverable_1_UserStory.docx
*.doc
Documents/Deliverable_2/~$wap_Deliverable_2_SprintReview_2.docx
Documents/Deliverable_4/~$CSwap_Deliverable_4_ProductBacklog.xlsx
Documents/Deliverable_4/~$CSwap_Deliverable_4_SprintBacklog.xlsx
Documents/Deliverable_4/CSwap_Deliverable_4_Configuration_Management_Plan.docx
Documents/Deliverable_6/~$CSwap_Deliverable_6_ProductBacklog.xlsx
COS420_Project.code-workspace
